body {
    display: flex;
    justify-content: center;
}

.wrapper {
    display: inline-block;
    margin-top: 30px;
    background-image: linear-gradient(#eee .1em, transparent .1em), linear-gradient(90deg, #ddd .1em, transparent .1em);
	background-size: 1em 1em;
    padding: 20px;
}

label {
    width: 70px;
    display: inline-block;
}

.input-box {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

.students-num-box {
    width: 550px;
}

table {
    margin-top: 30px;
    width: 100%;
}

th {
    text-align: left;
}

tr {
    height: 30px;
}

.select-field {
    padding: 1px 2px;
    height: 25px;
    width: 170px;
    background-color: #e1eaf4;
    border: 1px solid #385d8a;

}

.input-field {
    background-color: #e1eaf4;
    border: 1px solid #385d8a;
    height: 25px;
}

.button-submit {
    border: 2px solid #385d8a;
    border-radius: 6px;
    padding: 7px 20px;
    background-color: #4f81bd;
    color: white;
}

.button-add {
    float: right;
    margin-right: 45px;
    border: 2px solid #385d8a;
    border-radius: 6px;
    padding: 4px 15px;
    background-color: #4f81bd;
    color: white;
}

.button-delete, .button-modify {
    border: 2px solid #385d8a;
    padding: 4px 10px;
    background-color: #4f81bd;
    opacity: 0.7;
    color: white;
}

button:hover {
    cursor: pointer;
}

.delete-btn {
    border: 2px solid #385d8a;
    border-radius: 6px;
    padding: 7px 20px;
    background-color: #4f81bd;
    color: white;
    margin-right: 10px;
}

.delete-btn:hover {
    cursor: pointer;
}